#Not tracked folders and files

Ivan
Ben
Qi
twocolumn

Makefile
SyncFromMaster.sh
SyncToMaster.sh

#TempFiles for tex.

*.aux

*.ilg

*.log

*.synctex.gz

*.out

*.blg

*.dvi

*.bak

*~
*.bbl

Nanofiber.pdf
*_edited.*
*.rtf
Nanofiber*original).pdf
1509.02625.pdf
SubmissionPreview_es2015sep22_658.pdf
SubmissionPreview_es2015sep22_743.pdf
aj11367_report_1_2.pdf
Referee_response.*
