#Not tracked folders and files

NanoFiberPaper_Ivan
NanoFiberPaper_Ben
NanoFiberPaper_Qi
NanofiberPaper_twocolumn



#TempFiles for tex.

*.aux

*.ilg

*.log

*.synctex.gz

*.out

*.blg

*.dvi

*.bak

*~


Nanofiber.pdf
*_edited.*
*.rtf
Nanofiber*original).pdf
1509.02625.pdf
SubmissionPreview_es2015sep22_658.pdf